doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='author', content='')
  title Quản lí học sinh
  link(rel='icon' href ='https://js2.pngtree.com/v3/images/home/paradrop.png')
  // Custom fonts for this template
  link(href='/edit/vendor/fontawesome-free/css/all.min.css', rel='stylesheet', type='text/css')
  // Page level plugin CSS
  link(href='/edit/vendor/datatables/dataTables.bootstrap4.css', rel='stylesheet')
  // Custom styles for this template
  link(href='/edit/css/sb-admin.css', rel='stylesheet')
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      //a.navbar-brand Welcome, admin !
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/')
              | Home 
              span.sr-only
#wrapper
  // Sidebar
  // DataTables Example
  .card.mb-3(style ='margin : auto ; margin-top : 10px')
    .card-header
      i.fas.fa-table
      |         Dữ liệu
    .card-body
      .table-responsive
        table#dataTable.table.table-bordered(width='100%', cellspacing='0')
          thead
            tr
              th Mã số
              th Họ và tên học sinh
              th Lớp
              th Điểm toán 
              th Điểm văn
          tfoot
            tr
              th Mã số
              th Họ và tên học sinh
              th Lớp
              th Điểm toán
              th Điểm văn
          tbody
            each val in user
                tr
                    td= val.pos
                    td= val.name
                    td= val.classs
                    td= val.mathScore
                    td= val.litScore
    .card-footer.small.text-muted 
      | Meow 
footer.page-footer.font-small.blue
  // Copyright
  .footer-copyright.text-center.py-3
    | Bản quyền thuộc về mèo péo ngok nghek
    a(href='https://www.facebook.com/Zodiaxc')  Địa chỉ Facebook
    // Copyright
  // Footer

//.container-fluid
// Sticky Footer
// /.content-wrapper
// /#wrapper
// Scroll to Top Button
a.scroll-to-top.rounded(href='#page-top')
  i.fas.fa-angle-up
// Logout Modal
// Bootstrap core JavaScript
script(src='/edit/vendor/jquery/jquery.min.js')
script(src='/edit/vendor/bootstrap/js/bootstrap.bundle.min.js')
// Core plugin JavaScript
script(src='/edit/vendor/jquery-easing/jquery.easing.min.js')
// Page level plugin JavaScript
script(src='/edit/vendor/chart.js/Chart.min.js')
script(src='/edit/vendor/datatables/jquery.dataTables.js')
script(src='/edit/vendor/datatables/dataTables.bootstrap4.js')
// Custom scripts for all pages
script(src='/edit/js/sb-admin.min.js')
// Demo scripts for this page
script(src='/edit/js/demo/datatables-demo.js')
script(src='/edit/js/demo/chart-area-demo.js')
